.idea
.git
api/config/main-local.php
api/config/params-local.php
api/runtime
backend/config/main-local.php
backend/config/params-local.php
backend/config/test.php
backend/config/test-local.php
backend/runtime/debug
backend/runtime/gii-2.0.15.1
backend/runtime/HTML
backend/runtime/logs
backend/runtime/URI
common/config/main-local.php
common/config/params-local.php
common/config/test.php
common/config/test-local.php
console/config/main-local.php
console/config/params-local.php
console/runtime